[Unit]
Description = pocketbase

[Service]
Type                = simple
User                = root
Group               = root
Restart             = always
RestartSec          = 5s
WorkingDirectory    =/root/pocketbase/
ExecStart           = /root/pocketbase/pocketbase serve

[Install]
WantedBy = multi-user.target