[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
WorkingDirectory=/root/pocketbase/
ExecStart      = ./pocketbase serve

[Install]
WantedBy = multi-user.target